<ion-header translucent>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button color='yellow-light' (click)="dismissModal()">close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <div class="padding margin-70">
        <ion-item>
            <ion-input placeholder="Your registered email" type="email" [(ngModel)]=this.email></ion-input>
        </ion-item>
        <ion-button class="ion-margin-top" color='yellow-light' type="submit" expand="block" shape="round"
                    [disabled]="!this.email"
                    (click)="resetPassword()">Send email</ion-button>
    </div>
</ion-content>