<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>{{list?.name}} </ion-title>
        <ion-buttons slot="start">
            <ion-back-button color='yellow-light' defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="primary" (click)="addTodoModal()">
            <ion-button color='yellow-light'>
                <ion-icon name="add-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-searchbar animated debounce="500" (ionChange)="onSearchChange($event)"></ion-searchbar>
    <div class="progress-wrapper">
        <div class="progress-bar" [style.width]="this.list.progress + '%'">
            {{this.list.progress}}%
        </div>
    </div>
</ion-header>


<ion-content [fullscreen]="true">
    <ion-list>
        <ion-item-sliding *ngFor="let todo of searchResult">
            <ion-item>
                <ion-checkbox color='yellow-light' [(ngModel)]="todo.isDone" (ngModelChange)="changed(todo)"></ion-checkbox>
                <ion-label class="text-padding">
                    <h2>{{todo?.title}}</h2>
                    <p>{{todo?.description}}</p>
                </ion-label>
            </ion-item>

            <ion-item-options side="end">
                <ion-item-option color="primary" (click)="removeTodo(todo)">
                    <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                </ion-item-option>
                <ion-item-option color="danger" (click)="removeTodo(todo)">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>

        </ion-item-sliding>

    </ion-list>
</ion-content>