<ion-header translucent>
  <ion-toolbar>
    <ion-title>New List</ion-title>
    <ion-buttons slot="end">
      <ion-button color='yellow-light' (click)="dismissModal()">close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <form [formGroup]="listForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-input placeholder="List Name" type="text" formControlName="listName"></ion-input>
    </ion-item>
    <ion-button color='yellow-light' type="submit" expand="block" [disabled]="!listForm.valid">Create list</ion-button>
  </form>
</ion-content>