<ion-content >
  <div class="padding">

    <div class="logo">
      <img src="../../assets/icon/todo-icon.png" alt="app logo">
    </div>
    <form [formGroup]="dataForm" (ngSubmit)="signWithEmail()">
        <ion-item >
          <ion-icon name="mail-outline"></ion-icon>
          <ion-input class="ion-margin-start" inputmode="email" type="email" placeholder="Email" formControlName="email" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-input class="ion-margin-start" type="password" placeholder="Password" formControlName="password" required></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-button class="text-color" slot="end" fill="clear" (click)="passwordRecoveryModal()">Forgot password ?</ion-button>
        </ion-item>

        <ion-button class="ion-margin-top" color="yellow-dark"
                    expand="block" type="submit"
                    [disabled]="!dataForm.valid">
          Login
        </ion-button>
    </form>
    <ion-button class="text-color register-btn" expand="block" fill="clear" routerLink="/register">Register now</ion-button>

    <div class="margin-30">
      <span class="divider line one-line">or</span>
    </div>
    
    <div class="ion-margin-top">
      <ion-button color="facebook" expand="block" shape="" routerLink="/home" (click)='this.authService.signWithFacebook()'>
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
        Facebook
      </ion-button>

      <ion-button color="light" expand="block" shape="" (click)='this.authService.signWithApple()'>
        <ion-icon slot="start" name="logo-apple"></ion-icon>
        Apple
      </ion-button>

      <ion-button color="google" expand="block" shape="" (click)='this.authService.signWithGoogle()'>
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Google
      </ion-button>
    </div>

  </div>
</ion-content>
