<ion-content >
  <div class="padding">
    
    <div class="logo">
      <!-- <ion-icon  name="contact"></ion-icon> -->
      <!-- <ion-icon  name="cloudy-night"></ion-icon> -->
      <img src="../../assets/icon/todo-icon.png">
    </div>

    <ion-item >
      <ion-icon name="person-outline"></ion-icon>
      <ion-input class="ion-margin-start" type="text" placeholder="Username" [(ngModel)]=this.dataUser.username required></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="mail-outline"></ion-icon>
      <ion-input class="ion-margin-start" type="text" placeholder="Email" [(ngModel)]=this.dataUser.email required></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-input class="ion-margin-start" type="password" placeholder="Password" [(ngModel)]=this.dataUser.password required></ion-input>
    </ion-item>

    <ion-item lines="none">
    </ion-item>
    <ion-button class="ion-margin-top" color="yellow-dark"
                expand="block" shape="round"
                [disabled]="!this.dataUser.email || !this.dataUser.password"
                (click)="createAccount()">
      Register
    </ion-button>


    <ion-button class="text-color"  expand="block" fill="clear" routerLink="/login">
      Already a member? Login here
    </ion-button>

  </div>
</ion-content>
