<ion-header translucent>
  <ion-toolbar>
    <ion-title>New Todo</ion-title>
    <ion-buttons slot="end">
      <ion-button color='yellow-light' (click)="dismissModal()">close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="card-title">Todo Name</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-input placeholder="Todo Name" type="text" formControlName="name"></ion-input>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title class="card-title">Todo Description</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-input placeholder="Todo Description" type="text" formControlName="description"></ion-input>
      </ion-card-content>
    </ion-card>
<!--
    <ion-card>
      <ion-card-header>
        <ion-card-title class="card-title">End Date</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-datetime displayFormat="DDDD MMM D, YYYY" placeholder=""></ion-datetime>
      </ion-card-content>
    </ion-card>
-->
    <ion-card>
      <ion-card-header>
        <ion-card-title class="card-title">Address</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-searchbar style="padding: 0" debounce=500
                       (ionChange)="search($event)"
                       [value]="selectedAddress?.place_name"></ion-searchbar>

          <ion-item style="padding: 0; margin-bottom: 4px"
                    lines="none" color="transparent" button
                    *ngFor="let address of addresses"
                    (click)="onAdressSelect(address)">
            {{ address.place_name }}
          </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-button style="padding-inline: 1em"
                class="ion-margin-horizontal"
                color='yellow-light'
                type="submit"
                expand="block" [disabled]="!todoForm.valid">Create list</ion-button>
  </form>
</ion-content>