<ion-header translucent>
  <ion-toolbar>
    <ion-title>New Todo</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-input placeholder="Todo Name" type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Todo Description" type="text" formControlName="description"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" [disabled]="!todoForm.valid">Create list</ion-button>
  </form>
</ion-content>