<ion-header>
  <ion-toolbar>
    <ion-title>{{todo?.title}} </ion-title>
    <ion-buttons slot="start">
      <ion-back-button color='yellow-light'></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <!-- TITLE -->
  <ion-card>
    <ion-card-header>
      <ion-card-title class="card-title">Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{this.todo.title ? this.todo.title : 'not available'}}</ion-card-content>
  </ion-card>

  <!-- DESCRIPTION -->
  <ion-card>
    <ion-card-header>
      <ion-card-title class="card-title">Description</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{this.todo.description ? this.todo.description : 'not available'}}</ion-card-content>
  </ion-card>

  <!-- DATE -->
  <ion-card>
    <ion-card-header>
      <ion-card-title class="card-title">Date</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{this.todo.date ? this.todo.date : 'not available'}}</ion-card-content>
  </ion-card>

  <!-- MAP -->
  <ion-card>
      <div #map id="map"></div>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button fixed style="font-size: 18px" expand="block"
                class="ion-margin-start ion-margin-end"
                [color]="this.todo.isDone ? 'danger' : 'success'"
                (click)="onDoneClick(todo)">{{ this.todo.isDone ? 'Mark as not done' : 'Mark as done'}}</ion-button>
  </ion-toolbar>
</ion-footer>