<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- ADD BUTTON -->
    <ion-buttons slot="primary">
      <ion-button color='yellow-light' (click)="presentModal()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- MENU BUTTON -->
    <ion-buttons slot="start">
      <ion-menu-button color='yellow-light' menu='main-menu'></ion-menu-button>
    </ion-buttons>
    <!-- TITLE -->
    <ion-title >Todo App</ion-title>
  </ion-toolbar>
  <ion-searchbar animated debounce="500" (ionChange)="onSearchChange($event)"></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-sliding *ngFor="let list of searchResult">
      <ion-item detail routerLink="/list-details/{{list.id}}">
        <ion-badge slot="end" color='yellow-light' >{{list.todos.length}}</ion-badge>
        <ion-label>
          <h2>{{ list?.name }}</h2>
        </ion-label>
      </ion-item>
      <!-- ITEM OPTIONS -->
      <ion-item-options side="end">
        <ion-item-option color="primary">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="delete(list)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>