<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides class="ion-margin-top" pager="true">

    <ion-slide>
      <img src="../../../assets/slides/activity.png"/>
      <h2>What is ListHub?</h2>
      <p><b>ListHub</b> provides a powerful set of services and features that brings a totally new level of tasks management.</p>
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/slides/friendly.png"/>
      <h2>User-friendly</h2>
      <p><b>ListHub</b> comes with an user-friendly interface, easy to use, and running on almost all platforms (iOS, Android and Web) and providing the best user experience.</p>
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/slides/group.png"/>
      <h2>Group collaboration</h2>
      <p><b>ListHub</b> allows you to work and stay in touch with your coworkers, friends and family by sharing your lists and tasks, and tracking their updates and progress.</p>
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/slides/performance.png"/>
      <h2>Performance & efficiency</h2>
      <p><b>ListHub</b> employs the most advanced techniques, strategies and tools in order to enhance the energy efficiency and provide high-performance.</p>
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/slides/privacy.png"/>
      <h2>Security & privacy</h2>
      <p>at <b>Appflow</b> we take privacy very seriously and we work hard to ensure that your data remains secure by implementing sophisticated security measures.</p>
    </ion-slide>

    <ion-slide>
      <img src="../../../assets/slides/start.png"/>
      <h2>Ready to start?</h2>
      <ion-button style="color: var(--ion-color-yellow-light)" fill="clear" (click)="tutorialFinished()">
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
        Continue
      </ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>
